.App {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.App .box {
    padding: 20px;
    width: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.App .box input {
    width: 100%;
    margin: 10px 0;
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
}
.App .box input:focus {
    outline: none;
}

.App .box button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    background: skyblue;
    color: white;
    font-size: 1.05em;
    border: 0;
    border-radius: 5px;
}

.App .x {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: salmon;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    cursor: pointer;
}

.App .error {
    color: red;
}